@import url("../../index.css");

nav{
    position:sticky;
    top: 0;
    overflow: hidden;
}

.custom-navbar {
    background-color: var(--beige);
    border-radius: 75px;
    margin: 1rem;
}

.navbar-title{
    color: var(--brown-logo) !important;
    font-size: 1.25rem !important;
}
