@import url("../../index.css");

.recipes-scroll-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.recipes-scroll-wrapper a{
    text-decoration: none;
}
.recipe-scroll-card {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    cursor: pointer;
}

.recipe-scroll-title, .recipe-scroll-card-img {
    width: 35vw;
    color: var(--brown-logo);
    font-weight: 600;
}
.recipes-scroll-info{
    display:flex;
    justify-content: space-between;
    font-size: larger;
    color: var(--brown-logo);
}

.recipes-scroll-info-p{
    margin:0.25rem 0 0 0;
}
