:root {
  --orange-logo: #ef9b1d;
  --brown-logo: #644419;
  --beige: #f5f5dc;
  --dark-slate-gray: #2f4f4f;
  --carolina-blue: #7fb3d5;
  --ligth-grey: #d3d3d3;
  --gold: #f4d03f;
  --beige-background: #FBFBEF;
  --orange-title: rgba(239, 155, 29, 0.671);

}

html, body {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  height: 100%;

}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav {
  flex: 0 0 auto; /* No crece ni se encoge, ocupa solo el espacio necesario */
}

.main-content {
  flex: 1 0 auto; /* Ocupa el espacio restante */

}

footer {
  flex: 0 0 auto; /* No crece ni se encoge, ocupa solo el espacio necesario */
  
}
